<a href="https://colab.research.google.com/github/hilal212/Python.OOP/blob/main/ForAndWhile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list = [1,2,3,4,5,6]
for i in list:
  print(i)

1
2
3
4
5
6

In [ ]:
string = "Wonderful"
for i in string:
  print(i)

W
o
n
d
e
r
f
u
l

In [ ]:
#Definition and Usage of "The range()" function
#The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.
###Range(start, stop, step)###

In [ ]:
x = range(3, 20, 2) #start from 3 until 20 and by 2 steps

for n in x:
  print(n)

3
5
7
9
11
13
15
17
19

In [ ]:
x = range(3, 6) #start with 3 and "include 3" go until 6 but do not include "6"

for n in x:
  print(n)

3
4
5

In [ ]:
list1 = [1,2,3]
list2 = ["a","b","c"]

for numbers in list1:
     for characters in list2:
          print(numbers,characters)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c

In [ ]:
#BREAK AND CONTINUE#

In [ ]:
list = [1,2,3,4,5,6,7,8,9]
for i in list:
  if i ==3: #skip "3" and continue
    continue #skipped 3 and conitued
  print(i)

1
2
4
5
6
7
8
9

In [ ]:
list = [1,2,3,4,5,6,7,8,9]
for i in list:
  if i ==3:  
    break # the loop breaks at 3 
  print(i)

1
2

In [ ]:
list = range(100)
for i in list:
    if i % 3 !=0:
        continue
    if i == 81:
       break
    print(i)

In [ ]:
#NOTE#
#The for statement iterates through a collection or iterable object or generator function.
#Generally, however, we have a ready-made collection: a set, tuple, list, map or even a string is already an iterable collection, so we simply use a for loop.

In [ ]:
#NOTE#
#The while statement simply loops until a condition is False.
#If you don't have a tidy data structure to iterate through, or you don't have a generator function that drives your processing, you must use while.

In [ ]:
x = 2
y = 3

while x * y < 1000:
  print(x,y)
  x += 2
  y += 2

In [ ]:
i = 1
while True :
  print(i)
  i += 1
  if i == 100:
    break