<a href="https://colab.research.google.com/github/hilal212/Python.OOP/blob/main/ForLoop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#for (int i =0 ; i<5 ; i++) {.....}

In [ ]:
#In Python , an iterable is an object capable of returning values "one at a time".

In [2]:
i = 0
while i < 5 :
  print(i)
  i += 1
i = None

0
1
2
3
4

In [4]:
# using an iterable object, range 5 which is iterable ,it ask the object for the next object 
# (for)it is iterable, range is not collection or list

for i in range(5): 
  print(i)

0
1
2
3
4

In [5]:
for i in [1,2,3,4]:
  print(i)

1
2
3
4

In [6]:
for c in "hello":
  print(c)

h
e
l
l
o

In [9]:
for x in ("a","b","c",4):
    print(x)

a
b
c
4

In [14]:
for i,j in [(1,2),(3,4),(5,6)]:
    print(i,j)

1 2
3 4
5 6

In [16]:
for i in range(5):
  if i == 3:
      continue  # will skip the 3
  print(i)

0
1
2
4

In [17]:
for i in range(5):
  if i == 3:
      break # stops to iterate
  print(i)

0
1
2

In [19]:
for i in range(1,5):
  print(i)
  if i % 7 == 0:
    print("multiple of 7 found")
    break
else:
    print("no multiples of 7 in the range")

1
2
3
4
no multiples of 7 in the range

In [21]:
s = " hello"
for c in s:
    print(c)

h
e
l
l
o

In [23]:
s = "hello"
i = 0
for c in s:
  print(i,c)
  i += 1

0 h
1 e
2 l
3 l
4 o

In [28]:
s = "hello"
for i in range(len(s)):
    print(i, s[i])

0 h
1 e
2 l
3 l
4 o

In [29]:
s = "hello"
for i , c in enumerate(s): # enumerate function ,is easier to understand and read
  print(i,c)

0 h
1 e
2 l
3 l
4 o